.nav-bar{
    background-color: gray;
    height: 40px;
}
.nav-list{
    display: flex;
    justify-content: right;

    
    
}
.nav-list li a{
    text-decoration: none;
    color: red;
    font-style: bold;
  
}
.nav-list li a:hover{
    color: yellowgreen;
}
.l1{
    margin-right: 30px;
    margin-top: 10px;
}
.l2{
    margin-top: 10px;
    margin-right: 5px;
    
}
